.bg-uuid-generator {
    background-color: #e9ecef;
}

.title-uuid-generator {
    color: black;
    text-align: center;
    padding-bottom: 2rem;
}

.container-uuid-generator {
    padding-top: 7rem;
}

.hr-uuid-generator {
    background-color: #D6D6D6;
}

.result-uuid-generator {
    text-align: center;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 2rem;
    background-color: #59C9A5;
    padding-top: 0.5rem;
    color: azure;
}
